<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.vtb.at.mappers.DPMapper">

    <select id="getFailedTestsFor" resultType="String">
        SELECT DISTINCT l."name"
        FROM allure.test_results tr
        JOIN allure.links l ON tr.uuid = l.test_result_uuid
        WHERE tr.build_start in
        <if test="num == 1">
            (select MAX(tr.build_start)
            FROM allure.test_results tr
            where tr.team_name = '${teamName}'
            and tr.job_name = '${jobName}')
        </if>
        <if test="num > 1">
            (select distinct tr.build_start
            FROM allure.test_results tr
            where tr.team_name = '${teamName}'
            and tr.job_name = '${jobName}'
            order by tr.build_start desc
            limit ${num})
        </if>
        AND tr.team_name = '${teamName}'
        AND tr.job_name = '${jobName}'
        AND tr.status != 'passed'
    </select>

</mapper>